{{extend 'layout.html'}}

<div class="row">
    <div class="span12">
        <div class="hero-unit">
            <h1>jamTunes</h1>
            <p>jamTunes is a music social media platform, that allows users to create a custom profile, upload content, rate content, search for content, and jam with friends.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="hero-unit">
            <h2>Create a Profile</h2>
            <p>Creating a profile is easy, just register an account on jamTunes, and on your profile page you can edit your profile information and update your status.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="hero-unit">
            <h2>Upload Content</h2>
            <p>In order to upload a tune to jamTunes, you need to register an account. When you're logged in you can select Upload from the dropdown menu.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="hero-unit">
            <h2>Rate Content</h2>
            <p>Jams that are uploaded can be voted on by any logged in user by clicking the 'Jam It' or 'Can It' buttons. User profiles display a total score called 'Jam Power' based on the votes given to content uploaded by the user. </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="hero-unit">
            <h2>Search for Content</h2>
            <p>Searching is done through the search bar at the top. Users can search for both uploaded content, as well other users on the site.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="hero-unit">
            <h2>Jam with Friends</h2>
            <p>Logged in users can friend another user by visiting their profile and clicking the Add Friend button. You can view comments and uploads of your friends by visiting the friends page.</p>
        </div>
    </div>
</div>
