{{extend 'layout.html'}}

<div class="row">
    <div class="span12 info-header">
        <h1 class="center">Friends of {{=fullname(auth.user.id)}}</h1>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a data-toggle="tab" href="#jam"><i class="icon-music"></i> Jams</a></li>
                <li><a data-toggle="tab" href="#friend"><i class="icon-user"></i> Friends</a></li>
                <li><a data-toggle="tab" href="#comment"><i class="icon-comment"></i> Comments</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="jam">
                    {{=musicItemList(friendUploads)}}
                </div>
                <div class="tab-pane" id="friend">
                    {{=personItemList(friendRelations, auth.user.id)}}
                </div>
                <div class="tab-pane" id="comment">
                    {{=commentItemList(friendComments)}}
                </div>
            </div>
        </div>        
    </div>
</div>
