{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<!-- Top Welcome Box ================================================-->
<div class="row">
    <div class="span12">
        <h3>Welcome to jamTunes!</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
    </div>
</div>

<br/>

<!-- Post Area ======================================================-->
<div class="row">
    <div class="span10 offset1 post-container">
        <ul class="media-list">
            {{for post in posts:}}
            <li class="media">
                <a class="pull-left" href="{{=URL('post',args=post.id)}}">
                    <img class="media-object" src="{{=URL('static', 'images/tn_placeholder.png')}}">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">{{=post.genre + ' / '}}{{=A(post.title, _href=URL('post',args=post.id))}}</h4>
                    <h5 class="post-signature">{{=prettydate(post.created_on)}} | Posted by {{=fullname(post.created_by)}}</h5>
                    <div class="media">
                        {{=post.description}}
                    </div>
                    <audio controls="controls" style="max-width:100%">
                        <source src="{{=URL('download',args=post.attachment)}}">
                    </audio>
                </div>
            </li>
            {{pass}}
        </ul>
    </div>
</div>

<a href="create_post" class="btn btn-primary">new post</a>
