{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<!-- Top Welcome Box ================================================-->
<div class="row">
    <div class="span12 info-header">
        <div class="info-content">
            <h1>Viewing {{=genre}} jams!</h1>
        </div>
    </div>
</div>

<br/>

<!-- Post Area ======================================================-->
<div class="row">
    <div class="span12 post-container">
        {{=musicItemList(posts)}}
    </div>
</div>
