{{extend 'layout.html'}}
<!-- Top Info area -->
<div class="row">
    <div class="span12 info-header">
        <div class="info-content">
            <h3>Welcome to jamTunes!</h3>
            <p>
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac diam massa. Cras pretium ultrices enim, et sodales purus gravida eu. Sed vel magna venenatis, mattis nisl in, pharetra sapien. Nunc feugiat erat pulvinar diam fermentum bibendum et vel lorem.
            </p>
        </div>
    </div>
</div>

<!-- Content area -->
<div class="row">
    <div class="span12 post-container">
        {{=musicItemList(posts)}}
    </div>
</div>
