{{extend 'layout.html'}}

<!-- Profile Header Area -->
<div class="row">
    <div class="span12 prof-header info-header">
        <div class="row">
            <div class="span3">
                <div class="prof-left">
                    <h3 class="center">{{=fullname(userId)}}</h3>
                    {{if user.picture:}}
                        <img src="{{=URL('download', args=user.picture)}}" alt="{{=fullname(userId)}}">
                    {{else:}}
                        <img src="{{=URL('static', 'images/user_placeholder.jpg')}}" alt="{{=fullname(userId)}}">
                    {{pass}}
                </div>
            </div>
            <div class="span3">
                <div class="prof-center">
                    <table class="table">
                        <tr>
                            <th colspan="2">Information 
                            {{if auth.user:}}<a href="#editModal" role="button" data-toggle="modal">Edit</a>{{pass}}
                            </th>
                        </tr>
                        <tr><td>Joined:</td><td>{{=prettydate(user.created_on) or 'N/A'}}</td></tr>
                        <tr><td>Age:</td><td>{{=age or 'N/A'}}</td></tr>
                        <tr><td>Gender:</td><td>{{=user.gender or 'N/A'}}</td></tr>
                        <tr><td>Location:</td><td>{{=user.user_location or 'N/A'}}</td></tr>
                        <tr><td>Genres:</td><td>{{=user.genres or 'N/A'}}</td></tr>
                    </table>
                </div>
            </div>
            <div class="span6">
                <div class="prof-right">
                    <div class="row">
                        <div class="span6 status">
                            <h3>{{=user.status}}</h3>
                        </div>
                    </div>
                    <div class="row user-stats">
                        <div class="span3">
                            <h3>{{=totalLikes}}</h3>
                            <h4>Total Likes</h4>
                        </div>
                        <div class="span3">
                            <h3>{{=len(uploads)}}</h3>
                            <h4>Total Uploads</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{if auth.user and auth.user.id != user.id:}}
        <div class="prof-button-area">
            {{if relationId:}}
            <input type="hidden" name="rid" value="{{=relationId}}" />
                {{=A('Remove Friend', _class='btn', _onclick="ajax('%s', ['rid']);location.reload();" % URL('default', 'removeFriend'))}}
            {{else:}}
                <input type="hidden" name="person" value="{{=user.id}}" />
                <input type="hidden" name="status" value="friend" />
                {{=A('Add Friend', _class='btn btn-primary', _onclick="ajax('%s', ['person', 'status']);location.reload();" % URL('default', 'addFriend'))}}
            {{pass}}
        </div>
        {{pass}}
    </div>
</div>

<!-- User content area -->
<div class="row">
    <div class="span4">
        <div class="friend-container">
            {{=personItemList(friendRelations)}}
        </div>
    </div>
    <div class="span8 post-container">
        {{=musicItemList(uploads)}}
    </div>
</div>

<!-- Edit profile modal -->
<!-- Modal -->
{{if auth.user:}}
    <div id="editModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        {{=editForm.custom.begin}}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Edit your profile</h3>
        </div>
        <div class="modal-body">
            First Name: <div>{{=editForm.custom.widget.first_name}}</div>
            Last Name: <div>{{=editForm.custom.widget.last_name}}</div>
            Birthdate: <div>{{=editForm.custom.widget.birthdate}}</div>
            Gender: <div>{{=editForm.custom.widget.gender}}</div>
            Location: <div>{{=editForm.custom.widget.user_location}}</div>
            Genres: <div>{{=editForm.custom.widget.genres}}</div>
            Picture: <div>{{=editForm.custom.widget.picture}}</div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            {{=editForm.custom.submit}}
        </div>
        {{=editForm.custom.end}}
    </div>
{{pass}}
