{{extend 'layout.html'}}

<!-- User content area -->
<div class="row">
    <div class="span3 center" >
        {{if info.picture:}}
            <img src="{{=URL('download', args=info.picture)}}" alt="{{=fullname(user_id)}}" class="img-rounded">
        {{else:}}
            <img src="{{=URL('static', 'images/user_placeholder.jpg')}}" alt="{{=fullname(user_id)}}" class="img-rounded">
        {{pass}}
        <h3>{{=fullname(user_id)}}</h3>
        <h4>{{=status}}</h4>

        <table class="table table-condensed table-bordered table-hover">
            <tr><th>Joined:</th><td>{{=prettydate(user.created_on) or 'N/A'}}</td></tr>
            <tr><th>Age:</th><td>{{=age or 'N/A'}}</td></tr>
            <tr><th>Gender:</th><td>{{=info.gender or 'N/A'}}</td></tr>
            <tr><th>Location:</th><td>{{=info.user_location or 'N/A'}}</td></tr>
            <tr><th>Genres:</th><td>{{=info.genres or 'N/A'}}</td></tr>
            <tr><th>Jam Power:</th><td>{{=score}}</td></tr>
            <tr><th>Total Tunes:</th><td>{{=len(uploads)}}</td></tr>
        </table>
        
        <div class="btn-group">
            {{if auth.user and auth.user.id == user_id:}}<a href="#editModal" class="btn" role="button" data-toggle="modal">edit info</a>{{pass}}        
            {{if auth.user and auth.user.id == user_id:}}<a href="#statusModal" class="btn" role="button" data-toggle="modal">edit status</a>{{pass}}
            {{if auth.user and auth.user.id != user.id:}}
                {{if relation_id:}}
                    {{=A('Remove Friend', _class='btn', _onclick='removeFriend(' + str(relation_id) +');')}}
                {{else:}}
                    {{=A('Add Friend', _class='btn btn-primary', _onclick='addFriend(' + str(user.id) +',"friend");')}}
                {{pass}}
            {{pass}}
        </div>
        <hr />
        
    </div>
    <div class="span9">
        <div class="tabbable tabs-top">
            <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a data-toggle="tab" href="#jam"><i class="icon-music"></i> Jams</a></li>
                <li><a data-toggle="tab" href="#jammer"><i class="icon-user"></i> Friends</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="jam">
                    {{=music_item_list(uploads)}}                  
                </div>
                <div class="tab-pane" id="jammer">
                    {{=person_item_list(relations, user_id)}}
                </div>
            </div>
        </div>        
    </div>
</div>

<!-- Edit profile modal -->
<!-- Modals -->
{{include 'modal/profile.html'}}

{{if auth.user:}}
<script>
    var addFriend = function(person, status) {
        $.ajax({
              type: "POST",
              url: "{{=URL('ajax','addFriend')}}",
              data: { person: person, status: status }
            })
        .done(function( msg ) {
            location.reload();
        });
    }
    var removeFriend = function(rid) {
        $.ajax({
              type: "POST",
              url: "{{=URL('ajax','removeFriend')}}",
              data: { rid: rid }
            })
        .done(function( msg ) {
            location.reload();
        });
    }
</script>
{{pass}}
