{{extend 'layout.html'}}

<!-- Profile Header Area -->
<div class="row">
    <div class="span12 prof-header">
        <div class="row">
            <div class="span3">
                <div class="prof-left">
                    <h3 class="center">{{=fullname(userId)}}</h3>
                    {{if user.picture:}}
                        <img src="{{=URL('download', args=user.picture)}}" alt="{{=fullname(userId)}}">
                    {{else:}}
                        <img src="{{=URL('static', 'images/user_placeholder.jpg')}}" alt="{{=fullname(userId)}}">
                    {{pass}}
                </div>
            </div>
            <div class="span3">
                <div class="prof-center">
                    <table class="table">
                        <tr><th>Information</th></tr>
                        <tr><td>Joined: {{=prettydate(user.created_on)}}</td></tr>
                        <tr><td>Age: {{=age}}</td></tr>
                        <tr><td>Gender: {{=user.gender}}</td></tr>
                        <tr><td>Location: {{=user.user_location}}</td></tr>
                        <tr><td>Genres: {{=user.genres}}</td></tr>
                    </table>
                </div>
            </div>
            <div class="span6">
                <div class="prof-right">
                    <div class="row">
                        <div class="span6 status">
                            <h3 class=>{{=userStatus}}</h3>
                        </div>
                    </div>
                    <div class="row user-stats">
                        <div class="span3">
                            <h3>{{=totalLikes}}</h3>
                            <h4>Total Likes</h4>
                        </div>
                        <div class="span3">
                            <h3>{{=totalUploads}}</h3>
                            <h4>Total Uploads</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- User content area -->
<div class="row">
    <div class="span3 post-container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac diam massa. Cras pretium ultrices enim, et sodales purus gravida eu. Sed vel magna venenatis, mattis nisl in, pharetra sapien. Nunc feugiat erat pulvinar diam fermentum bibendum et vel lorem. Proin porta, felis nec aliquet faucibus, neque tortor porttitor felis, sit amet pellentesque lectus sem et urna. Sed tincidunt ut augue ut semper. Proin imperdiet libero orci, vel feugiat turpis suscipit ac. Integer id ultricies lorem, nec dapibus eros. Sed in dolor eu ligula accumsan sodales in sit amet enim. Curabitur eget tellus et ipsum ornare vestibulum vel et justo. Proin varius lectus eleifend elit placerat tristique. Aenean in fringilla mi. Mauris condimentum diam in mauris pretium, ac volutpat arcu elementum. Pellentesque ornare vehicula mattis.
        </p>
    </div>
    <div class="span9 post-container">
        {{=musicItemList(uploads)}}
    </div>
</div>
