{{extend 'layout.html'}}
<!-- Top Info area -->
<div class="row">
    <div class="span12 info-header">
        <div class="info-content">
            <h3>Register Now</h3>
            <p>
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac diam massa. Cras pretium ultrices enim, et sodales purus gravida eu. Sed vel magna venenatis, mattis nisl in, pharetra sapien. Nunc feugiat erat pulvinar diam fermentum bibendum et vel lorem.
            </p>
        </div>
    </div>
</div>

<!-- Content area -->
<div class="row">

    {{=form.custom.begin}}
    <div class="span6">
        <div class="content">
            <h4>Required Information</h4>
            <p>This information is required for an account</p>
            First Name: <div>{{=form.custom.widget.first_name}}</div>
            Last Name: <div>{{=form.custom.widget.last_name}}</div>
            Email: <div>{{=form.custom.widget.email}}</div>
            Password: <div>{{=form.custom.widget.password}}</div>
            Verify Password: <div>{{=form.custom.widget.password_two}}</div>
        </div>
    </div>
    <div class="span6">
        <div class="content">
            <h4>Profile Information</h4>
            <p>This information is included on you user profile, you can fill this out or change it later.</p>
            Birthdate: <div>{{=form.custom.widget.birthdate}}</div>
            Location: <div>{{=form.custom.widget.user_location}}</div>
            Genres: <div>{{=form.custom.widget.genres}}</div>
            <!--Picture: <div>{{=form.custom.widget.picture}}</div>-->
            {{=form.custom.submit}}
        </div>
    </div>
    {{=form.custom.end}}

</div>
