{{extend 'layout.html'}}
<!-- Top Info area -->
<div class="row">
    <div class="span12 info-header">
        <div class="info-content">
            <h3>Search</h3>
            <p>
                You can find songs by searching. Try searching an artist, title, or genre.
            </p>
            {{=form}}
        </div>
    </div>
</div>

<!-- Content area -->
<div class="row">
    <div class="span12 post-container">
        {{if results:}}
            <h3>Results</h3>
            {{=musicItemList(results)}}
        {{pass}}
    </div>
</div>
