{{extend 'layout.html'}}
<!-- Top Info area -->
<div class="row">
    <div class="span12 info-header">
        <div class="info-content">
            <h1>Search</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a data-toggle="tab" href="#jam"><i class="icon-music"></i> Jams</a></li>
                <li><a data-toggle="tab" href="#jammer"><i class="icon-user"></i> Jammers</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="jam">
                    {{if results:}}
                        {{=music_item_list(results)}}
                    {{else:}}
                        No jams matched your search.
                    {{pass}}                     
                </div>
                <div class="tab-pane" id="jammer">
                    {{if people:}}
                        {{=person_item_list_no_relation(people)}}
                    {{else:}}
                        No jammers matched your search.
                    {{pass}}
                </div>
            </div>
        </div>        
    </div>
</div>
