.post-container li {
    padding: 6px;
    border: 1px solid gray;
}

.post-container .media-body {
    position: relative;
    height: 150px;
}

.post-container li.media h4 {
    margin: 0 0 3px 0
}

.post-container li.media h5 {
    margin: 0 0 5px 0;
}

.post-container li.media p {
    margin: 0 0 5px 0;
    max-height: 65px;
    overflow: hidden;
    font-size: 12px;
}

.post-container li.media audio {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.friend-container {
    border: 1px solid gray;
}

.friend-container {
    padding: 7px;
}

.friend-container img.media-object {
    max-width: 100px;
    max-height: 100px;
}

.friend-container li.media {
    min-height: 100px;
    border: 1px solid lightgray;
}

.friend-container .person-info h5  {
    margin-top: 2px;
    margin-bottom: 2px;
}

.friend-container .person-info table {
    margin-top: 0;
    margin-bottom: 0;
}

.friend-container .person-info {
    font-size: 12px;
    line-height: 14px;
}

/* START Profile Page Style ========================================= */
.prof-header {
    min-height: 250px;
}

.prof-center {
    position: relative;
}

.prof-center table{
    height: 250px;
    margin-bottom: 0;
}

.prof-center tr:first-child td {
    border-top: 0;
}

.prof-header h3 {
    margin-top:0;
}

.prof-header table{
    margin-top:0;
}

.prof-left img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-height: 175px;
    width: auto;
}

.prof-center table th {
    text-align: center;
}

div.status h3 {
    text-align: center;
    margin-top: 0;
    font-style: italic;
    font-weight: normal;
    min-height: 118px;
    display: table-cell;
    vertical-align: middle;
    color: gray;
}

div.prof-right table {
    min-height: 110px;
    width: 100%;
}

div.status {
    display: table;
    min-height: 130px;
    position: relative;
}

div.status a, div.prof-center a{
    position: absolute;
    right: 0;
    top: 0;
}

div.user-stats h3, div.user-stats h4 {
    text-align: center;
}
/* END Profile Page Style ========================================= */


.info-header {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    margin-bottom: 30px;
    position: relative;
}

.info-header .prof-button-area {
    position: absolute;
    bottom: 0;
    right: 0;
}

.info-content {
    padding: 15px;
}

.info-content > p{
    font-size: 18px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #494948;
}

div.content {
    padding: 10px;
}

/* Some general css */
.modal form {
    margin-bottom: 0;
}
